body {

    background: linear-gradient(to bottom, #0288D1, #003456);

    font-family: Arial, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
  margin:0 auto;
}
