body {
    background: linear-gradient(to bottom, #0288D1);
    font-family: Pusab;
    color: white;
}

@font-face{
  font-family: 'Pusab';
  src: url(PUSAB.ttf);
}

.container {
    text-align: center;
    max-width: 1024px;
    width: 100%;
}
